html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
}


.cabecera {
    background-image: url(fondo.png);
    background-color: rgb(241, 106, 106);
    margin-top: -1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.cabecera__titulo {
    color: white;
    padding-top: 3rem;
    font-size: 3rem;
}

.cabecera__monto {
    display: flex;
    flex-direction: row;
    color:white;
    font-size: 4rem;
}

.cabecera__monto h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.cabecera__ingresos {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 121, 121);
    color: white;
    max-width: 40rem;
    width: 90%;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.ingresos__datos {
    flex-direction: row;
}

.no-margin h3 {
    margin: 0;
}

.cabecera__egresos {
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 86, 48);
    color: white;
    max-width: 40rem;
    width: 90%;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

.contenedor {
    background-color: rgb(204, 199, 199);
}

.contenedor__agregar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 3rem;
}

.contenedorAgregar__opciones,
.contenedorAgregar__input {
    font-size: 2.2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    text-align: left;
}

@media (min-width: 768px) {
    .contenedor__agregar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1.5rem;
        gap: 3rem;
    }
}

.contenedorAgregar__boton {
    border-radius: 50%;
    border: 0.1rem solid rgb(26, 93, 170);
    font-weight: 600;
    font-size: 3rem;
    color: rgb(26, 93, 170);
    cursor: pointer;
}
.contenedorAgregar__input {
    max-width: 40rem;
    width: 90%;
}
.contenedorAgregar__boton:hover {
    background-color: rgb(8, 8, 30);
    color: antiquewhite;
}



.informacion {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-items: center;
}

@media (min-width: 768px) {
    .informacion {
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;  
    }
}

.tabla {
    width: 80%;
    margin: 0 auto; 
    border:1px rgb(0, 121, 121); 
    margin-bottom: 2rem;
}
